@model ViceArmory.RequestObject.Product.ProductRequestDTO

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_ALayout.cshtml";
}

<h1>Edit Product</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("EditProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Id" type="hidden" />
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MetaTitle" class="control-label"></label>
                    <input asp-for="MetaTitle" class="form-control" />
                    <span asp-validation-for="MetaTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Slug" class="control-label"></label>
                    <input asp-for="Slug" class="form-control" />
                    <span asp-validation-for="Slug" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <input asp-for="Content" class="form-control" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Summary" class="control-label"></label>
                    <input asp-for="Summary" class="form-control" />
                    <span asp-validation-for="Summary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    <input asp-for="Type" class="form-control" />
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SKU" class="control-label"></label>
                    <input asp-for="SKU" class="form-control" />
                    <span asp-validation-for="SKU" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Discount" class="control-label"></label>
                    <input asp-for="Discount" class="form-control" />
                    <span asp-validation-for="Discount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <input class="form-check-input" asp-for="IsWeeklyAdvertise" /><br />
                    <label class="form-check-label">
                        @Html.DisplayNameFor(model => model.IsWeeklyAdvertise)
                    </label>
                </div>

                <div class="form-group">
                    <label class="control-label">Image</label>
                    <input class="btn btn-primary" type="file" name="productImagefile" value="productImagefile" id="productImagefile" />

                    @if (!String.IsNullOrEmpty(Model.ProductImage))
                    {
                        <img src="@Model.ProductImage" id="editProductImage" alt="image" />
                        <input type="hidden" id="ProductImage" value="@Model.ProductImage" name="ProductImage" />
                    }
                <span id="productImageValidation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" id="updateProduct" value="Save" class="btn btn-info" />
                </div>
          }
        </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

