################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ViceArmory.CoreWeb/Areas/Admin/Views/Shared/_AdminLayout11.cshtml
