
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Vice Armory</title>
    <link href="~/Adminassets/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css">
    <link href="~/Adminassets/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css">
    <link href="~/Adminassets/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Adminassets/plugins/jQueryConfirm/jquery-confirm.min.css" rel="stylesheet" />
    <link href="~/Adminassets/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/Adminassets/css/responsive.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="~/Assets/logo.png" type="image/x-icon">
    <script src="~/Adminassets/js/jquery-1.11.2.min.js"></script>
</head>
<body>
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader">
        </div>
        @Html.Partial("_AHeader")
        <input type="hidden" id="hdfBaseUrl" value="@Url.Content("~/")" />
        @RenderBody()
        @* @Html.Partial("_AFooter")*@
    </div>
    @*<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>*@

    <script src="~/Adminassets/js/photo-gallery.js"></script>
    <script src="~/Adminassets/js/jquery.js"></script>
    <script src="~/Adminassets/js/bootstrap.min.js"></script>
    <script src="~/Adminassets/js/main-slider-script.js"></script>
    <script src="~/Adminassets/js/scrollTo.js"></script>
    <script src="~/Adminassets/js/pagenav.js"></script>
    <script src="~/Adminassets/js/jquery-ui.js"></script>
    <script src="~/Adminassets/js/jquery.fancybox.js"></script>
    <script src="~/Adminassets/js/bxslider.js"></script>
    <script src="~/Adminassets/js/appear.js"></script>
    <script src="~/Adminassets/js/wow.js"></script>
    <script src="~/Adminassets/plugins/jQueryConfirm/jcFunctions.js"></script>
    <script src="~/Adminassets/plugins/jQueryConfirm/jquery-confirm.min.js"></script>
    <script src="~/Adminassets/plugins/parsleyjs/parsley.min.js"></script>
    <script src="~/Adminassets/js/script.js"></script>
    
</body>
</html>
