
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="about">
    <div class="container">
        <div class="row">
            <div class="gallery_title page_title col-12 text-center">
                <div class="page_title_box">
                    <h2 class="text-uppercase">About US</h2>
                    <p class="m-0">We carry everything from stripped receivers to complete rifles, and everything in between. Whether you’re starting a fresh build, or trying to round up those last accessories to perfect your tactical set up, Vice Armory can get you what you need. We offer top quality products from highly recognized brands such as Aero Precision, Palmetto State Armory, Magpul, Geissele, CMC, and much more. Aside from attachments and performance enhancing components, we offer valuable services such as laser engraving and cerakote, at a price that we promise you won’t beat. Work with our in-house designers and gunsmiths to create your dream build, and make all your range buddies jealous. Stop in today and see how Vice Armory can help you!</p>
                </div>
            </div>
            <div class="meet_our_title gallery_title page_title col-12 text-center">
                <div class="page_title_box">
                    <h2 class="text-uppercase">Meet our team</h2>
                </div>
            </div>
            <div class="about_meet_team">
                <section id="image_with_text_section" class="meet_image_with_text_section image_with_text_section">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="image_with_text_box image_with_text_box_2 animate__animated animate__faster col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="image_box"><img src="~/Assets/post_image_1.png" alt="post_image_1"></div>
                            </div>
                            
                            <div class="image_with_text_box image_with_text_box_1 animate__animated animate__faster col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h4>Team 1</h4>
                                <p>We carry everything from stripped receivers to complete rifles, and everything in between. Whether you’re starting a fresh build, or trying to round up those last accessories to perfect your tactical set up, Vice Armory can get you what you need. We offer top quality products from highly recognized brands such as Aero Precision, Palmetto State Armory, Magpul, Geissele, CMC, and much more. Aside from attachments and performance enhancing components, we offer valuable services such as laser engraving and cerakote, at a price that we promise you won’t beat. Work with our in-house designers and gunsmiths to create your dream build, and make all your range buddies jealous. Stop in today and see how Vice Armory can help you!</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="image_with_text_section" class="image_with_text_section">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="image_with_text_box image_with_text_box_1 animate__animated animate__faster col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h4>Team 1</h4>
                                <p>We carry everything from stripped receivers to complete rifles, and everything in between. Whether you’re starting a fresh build, or trying to round up those last accessories to perfect your tactical set up, Vice Armory can get you what you need. We offer top quality products from highly recognized brands such as Aero Precision, Palmetto State Armory, Magpul, Geissele, CMC, and much more. Aside from attachments and performance enhancing components, we offer valuable services such as laser engraving and cerakote, at a price that we promise you won’t beat. Work with our in-house designers and gunsmiths to create your dream build, and make all your range buddies jealous. Stop in today and see how Vice Armory can help you!</p>
                            </div>
                            <div class="image_with_text_box image_with_text_box_2 animate__animated animate__faster col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="image_box"><img src="~/Assets/post_image_1.png" alt="post_image_1"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <section id="newsletter_section" class="newsletter_section animate__animated animate__faster">
        <div class="container">
            <div class="row">
                <div class="newsletter_box col-12">
                    <div class="box_bg text-center">
                        <h3>Subscribe to get the latest news, exclusive deals, and special pricing on featured items.</h3>
                        <form action="" method="post" class="d-flex flex-wrap align-items-center justify-content-center">
                            <div class="form_box input-box"><input type="email" class="form_box_input input" placeholder="Your email"></div>
                            <div class="form_box btn-box"><button type="submit" class="btn">Subscribe</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

