
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="homepage" class="homepage sticky_header">
    <section class="home">
        <section class="banner_section">
            <div class="owl-carousel owl-theme owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2698px;">
                        <div class="owl-item active" style="width: 1349px;">
                            <div class="item">
                                <div class="banner_img"><img src="~/Assets/Banner.jpg" alt="banner_1"></div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 1349px;">
                            <div class="item">
                                <div class="banner_img"><img src="~/Assets/Banner_2.jpg" alt="banner_1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div>
                <div class="owl-dots disabled"></div>
            </div>
        </section>
        <section id="featured_section" class="featured_section">
            <div class="container">
                <div class="row">
                    <div class="featured_title page_title col-12 text-center">
                        <div class="page_title_box">
                            <h2 class="text-uppercase m-0">This Week's Exclusive Deals</h2>
                        </div>
                    </div>
                </div>
                <div class="featured_post animate__animated animate__delay-0.5s row justify-content-center animate__slideInUp">
                    <div class="post_box col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="box_content">
                            <div class="content_img"><img src="~/Assets/post_image_1.png" alt="post_image_1"></div>
                            <div class="content_text d-flex align-items-center justify-content-between">
                                <h4>AR-15 Kits</h4>
                            </div>
                        </div>
                    </div>
                    <div class="post_box col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="box_content">
                            <div class="content_img"><img src="~/Assets/post_image_2.png" alt="post_image_2"></div>
                            <div class="content_text d-flex align-items-center justify-content-between">
                                <h4>AR-15 Kits</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="gallery_section" class="gallery_section animate__animated animate__slideInUp">
            <div class="container">
                <div class="row">
                    <div class="gallery_title page_title col-12 text-center">
                        <div class="page_title_box">
                            <h2 class="text-uppercase m-0">Custom Work Gallery</h2>
                        </div>
                    </div>
                </div>
                <div class="gallery_post row">
                    <div class="post_box animate__animated animate__faster col-lg-6 col-md-4 col-sm-12 col-12 animate__slideInUp">
                        <div class="box_content">
                            <div class="content_img"><img src="~/Assets/gallery/image_1.png" alt="image_1"></div>
                        </div>
                    </div>
                    <div class="post_box animate__animated animate__faster col-lg-3 col-md-4 col-sm-12 col-12 animate__slideInUp">
                        <div class="box_content">
                            <div class="content_img"><img src="~/Assets/gallery/image_2.png" alt="image_2"></div>
                        </div>
                    </div>
                    <div class="post_box animate__animated animate__faster col-lg-3 col-md-4 col-sm-12 col-12 animate__slideInUp">
                        <div class="box_content">
                            <div class="content_img"><img src="~/Assets/gallery/image_3.png" alt="image_3"></div>
                        </div>
                    </div>
                    <div class="post_box animate__animated animate__fast col-lg-3 col-md-4 col-sm-12 col-12 animate__slideInUp">
                        <div class="box_content">
                            <div class="content_img"><img src="~/Assets/gallery/image_4.png" alt="image_4"></div>
                        </div>
                    </div>
                    <div class="post_box animate__animated animate__fast col-lg-3 col-md-4 col-sm-12 col-12 animate__slideInUp">
                        <div class="box_content">
                            <div class="content_img"><img src="~/Assets/gallery/image_5.png" alt="image_5"></div>
                        </div>
                    </div>
                    <div class="post_box animate__animated animate__fast col-lg-3 col-md-4 col-sm-12 col-12 animate__slideInUp">
                        <div class="box_content">
                            <div class="content_img"><img src="~/Assets/gallery/image_6.png" alt="image_6"></div>
                        </div>
                    </div>
                    <div class="post_box animate__animated animate__fast col-lg-3 col-md-4 col-sm-12 col-12 animate__slideInUp">
                        <div class="box_content">
                            <div class="content_img"><img src="~/Assets/gallery/image_7.png" alt="image_7"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="image_with_text_section" class="image_with_text_section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="image_with_text_box image_with_text_box_1 animate__animated animate__faster col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 animate__slideInLeft">
                        <h4>Looking to Complete Your Dream Build?</h4>
                        <p>We carry everything from stripped receivers to complete rifles, and everything in between. Whether you’re starting a fresh build, or trying to round up those last accessories to perfect your tactical set up, Vice Armory can get you what you need. We offer top quality products from highly recognized brands such as Aero Precision, Palmetto State Armory, Magpul, Geissele, CMC, and much more. Aside from attachments and performance enhancing components, we offer valuable services such as laser engraving and cerakote, at a price that we promise you won’t beat. Work with our in-house designers and gunsmiths to create your dream build, and make all your range buddies jealous. Stop in today and see how Vice Armory can help you!</p>
                    </div>
                    <div class="image_with_text_box image_with_text_box_2 animate__animated animate__faster col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 animate__slideInRight">
                        <div class="image_box"><img src="~/Assets/text_image.jpg" alt="text_image"></div>
                    </div>
                </div>
            </div>
        </section>
        <section id="newsletter_section" class="newsletter_section animate__animated animate__faster animate__slideInUp">
            <div class="container">
                <div class="row">
                    <div class="newsletter_box col-12">
                        <div class="box_bg text-center">
                            <h3>Subscribe to get the latest news, exclusive deals, and special pricing on featured items.</h3>
                            <form action="" method="post" class="d-flex flex-wrap align-items-center justify-content-center">
                                <div class="form_box input-box"><input type="email" class="form_box_input input" placeholder="Your email"></div>
                                <div class="form_box btn-box"><button type="submit" class="btn">Subscribe</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

